<h3 class='presentacion'>Listado de usuarios</h3>
 
<div class='listado'>
    <% if (users) { %>
        <div class='linea' id='cabeceraLista'>
            <div class='id'>Id</div>
            <div class='name'>Nombre</div>
            <div class='email'>Email</div>
            <div class='acciones'>Acciones</div>
        </div>
    <%  // Se recorren los usuarios
        for(var i=0; i < users.length; i++) { 
                var user = users[i]; %>
            <div class='linea'>
                <div class='id'><%= user.id %></div>
                <div class='name'><%= user.name %></div>
                <div class='email'><%= user.email %></div>
                <div class='acciones'>
                    <a href='/users/<%= user.id %>'>Editar</a>
                    <a href='/users/<%= user.id %>?_method=DELETE'>Eliminar</a>
                </div>
            </div>
    <%  }
       } else { %>
        <div class='linea'>No hay usuarios.</div>
    <% } %>
        <div class='linea'><a href='/users/newUser'>Crear usuario</a></div>
</div>